<div class="container ">
    <div class="row justify-content-md-center ">
        @for(category of categories(); track category){ 
            <div class="col question">
                <h3 class="display-4">{{ category.category }}</h3>
            </div>
        }
    </div>
    @for(queNum of questionNums; track queNum){
        <div class="row justify-content-md-center ">
        @for(catNum of categoryNums; track catNum){
            @if(!categories()[catNum].questions[queNum].answered){
            <div class="col question" (click)="openQuestion(categories()[catNum].questions[queNum])">
                <h3 class="display-4">&#36;{{ categories()[catNum].questions[queNum].value }}</h3>
            </div>
            }
            @else {
                <div class="col question">
                    <h3 class="display-4"></h3>
                </div>
            }

        }
    </div>
}
</div>
