<div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <h2 class="display-5">{{ question().clue }}</h2>
    <input #answer style="margin-top: 15px;" class="form-control" type="text" />
   @if (showAnswer==='correct') {
    <p style="color: greenyellow;">You answered right!</p>
   }
   @else if (showAnswer==='wrong') {
    <p style="color: red;">You are dumb!</p>
   }
  </div>
  <div class="modal-footer">
    @if(showAnswer==='unanswered'){
    <button type="submit" class="btn btn-primary" (click)="submitAnswer(answer.value)">
      Submit
    </button>
  }
  </div>
